<%= form_with scope: :docente, url: docentes_path, local: true do |form| %>
  <p>
    <%= form.label :nombre %><br>
    <%= form.text_field :nombre %>
  </p>

  <p>
    <%= form.label :apellido %><br>
    <%= form.text_field :apellido %>
  </p>

  <p>
    <%= form.label :materia %><br>
    <%= form.text_field :materia %>
  </p>

  <p>
    <%= form.label :clases %><br>
    <%= form.text_field :clases %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', docentes_path %>
