<p>
  <strong>Nombre:</strong>
  <%= @docente.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @docente.apellido %>
</p>

<p>
  <strong>Materia:</strong>
  <%= @docente.materia %>
</p>

<p>
  <strong>Clases:</strong>
  <%= @docente.clases %>
</p>

<%= link_to 'Back', docentes_path %>
